<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Data Table Template</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../lib/snowflake.js"></script>
    <script src="../lib/angular.min.js"></script>
    <script src="../lib/angular-ui-bootstrap-modal.js"></script>
   <link rel="stylesheet" href="../css/bootstrap.css"> 
</head>
<body>
<div style="padding:10px" ng-app="MyApp" ng-controller="MyCtrl" ng-init="loading=false;rows.length=0;cols.length=0">
<button class="btn" id="input" value="input" ng-click="open()">Load Data From...</button>
<button class="btn" id="output" value="output" ng-click="save()">Save Data</button>
<button class="btn" id="category" value="category" ng-click="count()">Categroy Count</button>
<div style="padding:10px">
<table class="table-condensed table-bordered table-striped">
<tr><th>table</th><th>Counts</th></tr>
<tr><td>rows</td><td>{{rows.length}}</td></tr>
<tr><td>cols</td><td>{{cols.length}}</td></tr>
</table>
</div>
<div style="padding:10px">
<div ng-init="opts=['xi','yi','zi']">
	<div ng-repeat="opt in opts" >
	{{opt}}: <select id="{{'opt_'+opt}}">
			<option ng-repeat="col in cols" value="{{$index}}" class="opt">
				{{col.label}} 
			</option>
	        </select>
	</div>
</div>
</div>
<div modal="showModal" close="cancel()">
<div class="modal-header">
</div>
<div class="modal-body">
<div ng-show="opendiv">
open data from...
<select ng-model="selected_src" ng-options="src as src.name for src in srcs">
</select>
<div  ng-show="selected_src.value==0"> 
<textarea id="src0" rows="5" cols="20" placeholder="http://garberwiki.umassmed.edu:8000/data/Jul2015/MDDC_Ifnb.resp.cls.tsv">
</textarea>
</div>
<div  ng-show="selected_src.value==1">
            <input style="width:150px" id="src1" type="file" size="10" name="src1"></td>
</div>
<div  ng-show="selected_src.value==2">
	JSON:
            <input style="width:150px" id="src2" type="file" size="10" name="src2"></td>
</div>
</div>
<div  ng-show="savediv">
<div id="save_to">
save data to json file
<input type="text" id="saveToFile"></input>
</div>
</div>

</div>
<div class="modal-footer">
	<button class="btn btn-success" id="ok" ng-click="ok()">O.K.</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
</div>
</div>
<div ng-show="loading">
loading...
</div>
<div id="table_output">
</div>
<div id="svg">
</div>
</div>
</body>
<script>
(function (S,$) { 
var app = angular.module("MyApp", ["ui.bootstrap.modal"]);
var getUrlParam=S.tools.getUrlParam;
app.controller("MyCtrl", function($scope) {
  $scope.open = function() {
   $scope.opendiv=true;
  $scope.srcs=[{"name":"url","value":0},{"name":"tsv","value":1},{"name":"json","value":2}];
   $scope.savediv=false;
    $scope.showModal = true;
  };
  $scope.ok = function() {
    $scope.showModal = false;
   if($scope.opendiv) {
 	getSrc(cb);
   } else {
   var filename = $("#saveToFile").val() || "download.json";
   S.tools.saveDataAsFile(data,filename)
  }
};
  $scope.cancel = function() {
    $scope.showModal = false;
  };
  $scope.save = function() {
   $scope.opendiv=false;
   $scope.savediv=true;
   $scope.showModal = true;    
  };
  $scope.count = function() {
  d3.select("#table_output").selectAll("*").remove();
  var layout=S.layout.category();
  layout.col($("#opt_zi").val());
  var chart=S.chart.maptable();
  var tab=d3.select("#table_output").append("table").attr("class","table-condensed table-striped table-responsive").style("text-align","center")
  var thead=tab.append("thead")
  thead.append("tr").selectAll("th").data(["Group","Count"]).enter().append("th").text(function(d){return d});
  var tbody=tab.append("tbody")
  tbody.selectAll("tr").data(layout(data)).enter().append("tr").call(chart);
  var tfoot=tab.append("tfoot");
  tfoot.append("text").text("Table "+data.table.cols[$("#opt_zi").val()].label).style("font-size","smaller").style("text-align","center");
   
  var barLayout=S.layout.categoryBarplot();
console.log(barLayout);
  barLayout.col($("#opt_zi").val())	
  barLayout.cols([7,8,9,10,11])	
  var bardata=barLayout(data)
   console.log(bardata);
  var barplotChart = S.chart.Barplots();
  d3.select("#svg").selectAll("*").remove();
  var svg=d3.select("#svg").append("svg").attr("height","200px").attr("width","1000px").selectAll("g").data(bardata).enter().append("g").call(barplotChart);	
}
 	
var cb=function(data) {
	$scope.loading=false;
	if (data.status && data.status=="error") {
		console.log("Failed to load");
		console.log(data);
	} else {
        window.data=data;
	$scope.cols=data.table.cols
	$scope.rows.length=data.table.rows.length
	$scope.$apply();
	$scope.opts.forEach(function(opt){
		var i=getUrlParam(opt) || undefined;
		console.log(opt);
		console.log(i);
		if(i) {
			$("#opt_"+opt).val(i);
		}
	})
	console.log(data);
	}
}

var processURLorGSheet=function(src,callback) {
        $scope.loading=true;
       	_googleSheetHandler=callback;
	var re=/^http/;
       	var OK=re.exec(src);
       	if(OK){
		S.tools.parseUrlToTsvUmass(src,callback);    	
       	}
       	else{
        	S.gsheet.query("select *", src, "_googleSheetHandler")   
      	}

}
var getSrc=function(callback){
        $scope.loading=true;
	var src;
       	if($scope.selected_src.value==0){
       		src= $("#src0").val() ||document.getElementById("src0").placeholder;
		processURLorGSheet(src,callback);       
	}
       else if($scope.selected_src.value==1){
             var ft=$("#src1")[0].files[0]
             var myfdata ={ "file":ft}
             var fdata = new FormData()
             for (var key in myfdata) {
             fdata.append(key,myfdata[key])
             }
             var xhr = new XMLHttpRequest;
             xhr.open('POST', '../cgi-bin/parse_tsv.py', true);  
             xhr.send(fdata);
             xhr.onreadystatechange = function() {
                     if (xhr.readyState == 4) {
                       var data=JSON.parse(xhr.responseText);
                      callback(data);
                      }
             }
         }
	else if($scope.selected_src.value==2) {
		S.tools.loadFileAsData($("#src2")[0].files[0],function(d){console.log(d);callback(d)})
	}
	}


var url = S.tools.getUrlParam("q");
        if (url) {
		$("#input").prop('disabled',true);
		processURLorGSheet(url,cb);    	
	};



});

/*SIMPLE CHART*/
S.chart = S.chart || {}
S.chart.maptable = function() {
var chart=function(selection) {
	console.log(selection);
	selection.each(function(d) {
	var table=d3.select(this)
	var tr=table.selectAll("td").data([d.key,d.value]).enter()
	tr.append("td").text(function(d){return d})
	})
  }
return chart;
}
/*SIMPLE LAYOUT*/
S.layout = S.layout ||{}
S.layout.category =function() {
	var _col = 0 //category with col;
	function layout(data) {
		var grouped=[]
		var label=data.table.cols[_col].label;
		var map={};
		data.table.rows.forEach(
			function(d) {
			var k=d.c[_col].v;
			if (map[k]) {
				 map[k]+=1
				}
			else {
			  map[k]=1
			}
			}
		)
		var keys=Object.keys(map).sort();
		keys.forEach(function(k){grouped.push({"key":k,"value":map[k]})})
		console.log(grouped);
		return grouped
	}
	layout.col = function(x) {
	 if (arguments.length) {_col=x}
	 else { return x}
	}
	return layout;
}
S.chart.Barplots = function() {
	var height=100;
	var width=70;
	var padding=5;
	var barWidth=7;
	var colWidth=10;
	var scale=d3.scale.linear().range([0,height]).domain([0,1.0]) //TO IMPROVE;
	var color="blue";
	var max=function(a,b) {
		if (a>b) {return a} else {return b}
	}
	var chart=function(selection) {
		selection.each(function(d,i) {
			//width=max(width,colWidth*d.length)
			var div=d3.select(this)
			div.selectAll(".barplot").data([d]).enter().append("g")
			   .attr("class","barplot")
			  .attr("transform",function(d) {
				return "translate("+(width*i)+",0)"})
			    .selectAll(".bar").data(function(d){
			console.log(d);	
			return d.v
			}).enter()
			   .append("rect").attr("class","bar")
			   .attr("x",function(d,i) {return i*colWidth})
			   .attr("y",function(d,i) { console.log(d.v);return height-scale(d.v)})
			   .attr("height",function(d,i) { return scale(d.v)})
			   .attr("width",function(d,i) { return barWidth})
			   .attr("fill",function(d,i) { return color});
		})
	}
	return chart;

} 
S.layout.categoryBarplot = function() {
	var grouped=[];
	var _col=0;
	var _cols=[];
	var average=function(d) {
		var sum=0.0;
		d.forEach(function(d0){sum+=d0})
		if (d.length==0) {return 0.0} else {return sum/d.length}	
	}
	var arrayAverage = function(d) {
		var retv=[]
		d.forEach(function(d){ 
		retv.push({"c":d.c,"v":average(d.v)});
		})
		return retv;
	}
	var init=function() {
	 var v=[]; for(var i=0;i<_cols.length;i++){
		v.push({"c":_cols[i],"v":[]})
	} 
	 return v;
	}
	function layout(data) {
		val={}
		data.table.rows.forEach(function(d) {
		   var sum=0.0;
		   var g=d.c[_col].v
 		   if (!val[g]) {
			val[g]=init();
		   }
		   _cols.forEach(function(i) {
			sum+=parseFloat(d.c[i].v)
			})
		   if (sum==0.0) {sum=1.0}
		   _cols.forEach(function(ci,i) {
				val[g][i].v.push(parseFloat(d.c[ci].v)/sum)
			})
		})
		Object.keys(val).forEach(function(g) {
		grouped.push({"label":g,"v":arrayAverage(val[g])})
		})	
	return grouped;
	}
	layout.col = function(x) {
	 if (arguments.length) {_col=x}
	 else { return _col}
	}
	layout.cols = function(x) {
	 if (arguments.length) {_cols=x}
	 else { return _cols}
	}
	return layout
}


}(snowflake,jQuery))
</script>
</html>
