<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Data Table Template</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../lib/snowflake.js"></script>
    <script src="../lib/angular.min.js"></script>
    <script src="../lib/angular-ui-bootstrap-modal.js"></script>
   <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
<div style="padding:10px" ng-app="MyApp" ng-controller="MyCtrl" ng-init="loading=false;rows.length=0;cols.length=0">
<button class="btn" id="input" value="input" ng-click="open()">Load Data From...</button>
<button class="btn" id="output" value="output" ng-click="save()">Save Data</button>
<div style="padding:10px">
<table class="table-condensed table-bordered table-striped">
<tr><th>table</th><th>Counts</th></tr>
<tr><td>rows</td><td>{{rows.length}}</td></tr>
<tr><td>cols</td><td>{{cols.length}}</td></tr>
</table>
</div>
<div style="padding:10px">
<div ng-init="opts=['xi','yi','zi']">
	<div ng-repeat="opt in opts" >
	{{opt}}: <select id="{{'opt_'+opt}}">
			<option ng-repeat="col in cols" value="{{$index}}" class="opt">
				{{col.label}}
			</option>
	        </select>
	</div>
</div>
</div>
<div modal="showModal" close="cancel()">
<div class="modal-header">
</div>
<div class="modal-body">
<div ng-show="opendiv">
open data from...
<select ng-model="selected_src" ng-options="src as src.name for src in srcs">
</select>
<div  ng-show="selected_src.value==0">
<textarea id="src0" rows="5" cols="20" placeholder="http://garberwiki.umassmed.edu:8000/data/Jul2015/MDDC_Ifnb.resp.cls.tsv">
</textarea>
</div>
<div  ng-show="selected_src.value==1">
            <input style="width:150px" id="src1" type="file" size="10" name="src1">
</div>
<div  ng-show="selected_src.value==2">
	JSON:
            <input style="width:150px" id="src2" type="file" size="10" name="src2">
</div>
</div>
<div  ng-show="savediv">
<div id="save_to">
save data to json file
<input type="text" id="saveToFile"/>
</div>
</div>

</div>
<div class="modal-footer">
	<button class="btn btn-success" id="ok" ng-click="ok()">O.K.</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
</div>
</div>
<div ng-show="loading">
loading...
</div>

</div>

<script>
(function (S,$) {
var app = angular.module("MyApp", ["ui.bootstrap.modal"]);
var getUrlParam=S.tools.getUrlParam;
app.controller("MyCtrl", function($scope) {
  $scope.open = function() {
   $scope.opendiv=true;
  $scope.srcs=[{"name":"url","value":0},{"name":"tsv","value":1},{"name":"json","value":2}];
   $scope.savediv=false;
    $scope.showModal = true;
  };
  $scope.ok = function() {
    $scope.showModal = false;
   if($scope.opendiv) {
 	getSrc(cb);
   } else {
   var filename = $("#saveToFile").val() || "download.json";
   S.tools.saveDataAsFile(data,filename)
  }
};
  $scope.cancel = function() {
    $scope.showModal = false;
  };
  $scope.save = function() {
   $scope.opendiv=false;
   $scope.savediv=true;
   $scope.showModal = true;
  };
 	
var cb=function(data) {
	$scope.loading=false;
	if (data.status && data.status=="error") {
		console.log("Failed to load");
		console.log(data);
	} else {
        window.data=data;
	$scope.cols=data.table.cols
	$scope.rows.length=data.table.rows.length
	$scope.$apply();
	$scope.opts.forEach(function(opt){
		var i=getUrlParam(opt) || undefined;
		console.log(opt);
		console.log(i);
		if(i) {
			$("#opt_"+opt).val(i);
		}
	})
	console.log(data);
	}
}

var processURLorGSheet=function(src,callback) {
        $scope.loading=true;
       	_googleSheetHandler=callback;
	var re=/^http/;
       	var OK=re.exec(src);
       	if(OK){
		S.tools.parseUrlToTsvUmass(src,callback);
       	}
       	else{
        	S.gsheet.query("select *", src, "_googleSheetHandler")
      	}

}
var getSrc=function(callback){
        $scope.loading=true;
	var src;
       	if($scope.selected_src.value==0){
       		src= $("#src0").val() ||document.getElementById("src0").placeholder;
		processURLorGSheet(src,callback);
	}
       else if($scope.selected_src.value==1){
             var ft=$("#src1")[0].files[0]
             var myfdata ={ "file":ft}
             var fdata = new FormData()
             for (var key in myfdata) {
             fdata.append(key,myfdata[key])
             }
             var xhr = new XMLHttpRequest;
             xhr.open('POST', '../cgi-bin/parse_tsv.py', true);
             xhr.send(fdata);
             xhr.onreadystatechange = function() {
                     if (xhr.readyState == 4) {
                       var data=JSON.parse(xhr.responseText);
                      callback(data);
                      }
             }
         }
	else if($scope.selected_src.value==2) {
		S.tools.loadFileAsData($("#src2")[0].files[0],function(d){console.log(d);callback(d)})
	}
	}
var url = S.tools.getUrlParam("q");
        if (url) {
		$("#input").prop('disabled',true);
		processURLorGSheet(url,cb);
	};
});
}
(snowflake,jQuery))
</script>
</body>
</html>
